/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 31, 2022, 2:59:13 PM
    Author     : Thanh PC
*/
.header-area{
    background-color: #3399FF;}
footer{
     background-image: url("../img/hand_coffee.jpg");
}
.main-footer-area{
    background-color: #3399FF; 
}
.footer-bottom-area{
    background-color: #002a80;
}
.alazea-btn {
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    position: relative;
    z-index: 1;
    display: inline-block;
    min-width: 150px;
    height: 46px;
    color: #ffffff;
    background-color: #3399FF;
    border: 2px solid #3366CC;
    border-radius: 2px;
    padding: 0 20px;
    font-size: 16px;
    line-height: 42px;
    text-transform: uppercase;
    font-weight: 600;
}
.alazea-btn.active, .alazea-btn:hover, .alazea-btn:focus {
    font-size: 16px;
    color: #3399FF;
    font-weight: 600;
    background-color: transparent;
    box-shadow: none;
}
.shop-widget .ui-slider-range.ui-widget-header.ui-corner-all {
    background-color: #3399FF;
    position: absolute;
    height: 6px;
    width: auto;
    z-index: 10;
    left: 2px !important;
}
.shop-widget .ui-slider-handle {
    background-color: #3399FF;
    border: none;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    position: absolute;
    z-index: 30;
    top: -3px;
}
.btn-primary {
    color: #212529;
    background-color: #3399FF;
    border-color: #38d39f;
}

